.content {
    flex: 3;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
    height: 100% !important;
    box-sizing: border-box;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
